<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact the Cult</title>
    <div th:replace="header"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f1c40f;">
    <a class="navbar-brand" href="#">Jemalcult Agency</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contacts}">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}"}>Register</a>
            </li>
        </ul>
    </div>
</nav>
<p>If you would like to work with us or simply want to drop us fan mail, please submit your email using the form below,
    and we'll get back to you as soon as possible!
    Thank you and have a great day!</p>
<form class="form-container">
    Name:
    <input type="text"><br>
    Email:
    <input type="text"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>