<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Houses</title>
    <div th:replace="header"></div>
</head>
<style>
	td {word-break: break-all;}


</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f1c40f;">
    <a class="navbar-brand" href="#">Jemalcult Agency</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-1 dual-collapse2" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/house/create}">Create</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-sm btn-light" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div th:unless="${param.isEmpty()}" class="row justify-content-center">
    <div class="alert alert-success col-6 col-lg-4 my-1 p-1 pl-2" role="alert" th:text="${param.msg}"></div>
</div>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col" style="width: 5%">#</th>
        <th scope="col" style="width: 20%">Name</th>
        <th scope="col" style="width: 25%">Address</th>
        <th scope="col" style="width: 10%">Price</th>
        <th class="text-right" style="width: 10%">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="house: ${houses}">
        <th scope="row" th:text="${house.id}">1</th>
        <td th:inline="text">
            <a th:href="@{/house/{id}(id=${house.id})}" th:text="${house.name}">Name</a>
        </td>
        <td th:text="${house.address}">Address</td>
        <td th:inline="text">$[[${house.price}]]</td>
        <td class="text-right">
            <a th:href="@{/house/{id}/edit(id=${house.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/house/{id}/delete(id=${house.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>