<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jemalcult Agency</title>
    <div th:replace="header"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f1c40f;">
    <a class="navbar-brand" href="#">Jemalcult Agency</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Hello World</h1>
<p th:each="house: ${houses}"><!--TODO Show Cards-->
    [[${house}]]
</p>
</body>
</html>