<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jemal Agency</title>
    <div th:replace="header"></div>
    <style>
        .card {
            border-radius: 1rem;
		    box-shadow: 0px 0px 10px 0px #f1c40f;
        }
        .card img {
            width: 80%;
            margin: auto;
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f1c40f;">
    <a class="navbar-brand" href="#">Jemal Agency</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contacts}">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/house}">Admin Page</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-lg-2">
    <div class="row justify-content-center">
        <div class="col mx-auto my-3" th:each="house: ${houses}">
            <div class="card" style="width: 20rem;">
                <img th:if="${house.picture} == null" class="card-img-top" alt="House Icon"
                     th:src="@{/static/house-thumb.webp}">
                <img th:if="${house.picture} != null" class="card-img-top" alt="House Icon"
                     th:src="@{/static/house/{path}(path=${house.picture})}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${house.name}">Name</h5>
                    <p class="card-text" th:text="${house.address}">Addr</p>
                    <p class="card-text" th:inline="text">$[[${house.price}]]</p>
                    <a th:href="@{/house/{id}(id=${house.id})}">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>